<div class="card">
  <div class="card-header">Debug MQTT</div>
  <div class="card-body">
    <p>Todos os tópicos padrão:</p>
    <ul>
      <li>tcc/demo/cmd/{device}/{action}</li>
      <li>tcc/demo/state/{device}</li>
      <li>tcc/demo/ack/{device}</li>
      <li>tcc/demo/log</li>
    </ul>
    <pre id="mqtt-log" class="bg-dark text-white p-3" style="height:420px; overflow:auto;"></pre>
  </div>
</div>
<script src="/js/mqtt.js"></script>
